:root{
    --main-color: rgba(255,212,0,1);
    --transparent-color:  rgb(255, 212, 0);
    --animation-duration: 0.75s;
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;

}



/* Hamburger menu styles */
section.menu-container {
    top: 0;
    right: 0;
    z-index: 1000;

}

section.menu-container .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;

}

section.menu-container .burger-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger line ( en av tre strekene man skal trykke på) */
section.menu-container .burger-icon > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background-color: #010101;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;

}

/* Top and bottom lines ( to av tre strekene man skal trykke på*/
section.menu-container .burger-icon > div::before,
section.menu-container .burger-icon > div::after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;

}

/* Moves line down ( justerer på den nesderste streken */
section.menu-container .burger-icon > div::after{
    top:10px;
}

/* Toggler animate (klikk funksjonen) */
section.menu-container .toggler:checked + .burger-icon > div {
    transform: rotate(135deg); /* roterer/ beveger på kappen litt når jeg trykker */

}

/* Turn lines into X */
section.menu-container .toggler:checked + .burger-icon > div:before,
section.menu-container .toggler:checked + .burger-icon > div:after {
   top: 0;
   transform: rotate(90deg);
   
   
}

/* Rotate on hover when checked */
section.menu-container .toggler:checked:hover + .burger-icon > div {
    transform: rotate(225deg);
}

/* Show menu */
section.menu-container .toggler:checked ~ nav.menu {
    visibility: visible;

}

section.menu-container .toggler:checked ~nav.menu > div > div {
    opacity: 1;
    transition: opacity 0.2s ease;

}
section.menu-container .toggler:checked ~.menu > div {
    transform: scale(1);
    transition-duration: var(--animation-duration);

}


section.menu-container nav.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.menu-container nav.menu > div {
    background: rgba(255,212,0,0.85); /* eller bruke   --transparent-color:  rgb(255, 212, 0); for ikke en see throg bakgrunn*/
    border-radius: 40%;/* det som lager den ovale gjennomsiktige siden */
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;

}

section.menu-container nav.menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0; 
    transition: opacity 0.4s ease;

}

section.menu-container nav.menu > div > div > ul > li{
    list-style: none;
    color:  #010101;
    font-size: 1.5rem;
    padding: 1rem;

}

section.menu-container nav.menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;

}

section.menu-container nav.menu > div > div > ul > li > a {
    text-decoration: none;
}

section.menu-container nav.menu > div > div > ul > li > a:hover {
    text-decoration: underline;
    
}
/*inspired by: https://www.youtube.com/watch?v=DZg6UfS5zYg&t=1863s*/








