
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 2px;
   
   
}


nav ul {
    list-style-type: none;   
    margin: 0;
    padding: 40px;
    overflow: hidden;
    background-color: #ffd400;
    text-decoration:none;
    font-weight:bold;
    }
    
    .logo-og-studieoversikt{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }
    
    .OsloMetLogo img {
        display: block;
    }
    
    .Studieoversiktlink{
        margin-top: 5px;
        font-size: 1em;
        font-weight: bold;
        text-decoration: underline;
        color: black;
    }
    
    
    
    nav li{
        float: left;
        
    }
    /*Style for link in nav*/
    nav li a {
    text-decoration: none;
    display: block; 
    padding: 8px;;  
    color: black;
    
    
    }
    /*Style link when swipe mouse over the link */
    nav a:hover{
        background-color:none;
        color:#333;
        text-decoration: underline;
    
    }
     /*Moving entire searchbar to the right */
    .search-container {
        float: right;
        margin-top: 10px;
    }
    
    .search-container form {
        display: flex;
    }
    /*Create a rounder boarder around the searchbar */
    .search-container input[type="text"] {
        padding: 6px;
        border: none;
        border-radius: 4px 0 0 4px;
    }
    /*Style for search icon, also with rounder boarder*/
    .search-container button {
        padding: 6px;
        background-color: #333;
        color:white;
        border: none;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
    }
    /*Style for searchbar icon when hover*/
    .search-container button:hover {
        background-color: #555;
    }
    
    


.header-title {
    padding-left: 100px; 
    text-align: left; 
}




h1 {
    font-size: 2em; 
    font-weight: bold; 
    margin: 0;
    line-height: 1.2;
    margin-top: 20px;
    
}



#Bachelorprogram {
    
    color: black;
    margin-top: 5px;
    line-height: 1.5em;
}

#Beskrivelse {
    color: black;
    margin-top: 5px;
    line-height: 1.5em;
   

}

.Hovedbilde2{
    width: 100%; 
    height:auto; 
    max-width: 1550px; 
    
}


.KortInfo {
    width: 100%;              
    border-collapse: collapse;  
    margin: 90px ;            
    font-family: Arial, sans-serif; 
    border: 2px;
  padding: 10px;
  border-radius: 25px;
  background-color: #f3ecad;
 
}

.KortInfo i{
    color:rgba(17, 77, 12, 0.783)
}
.KortInfo th,.KortInfo td {
    padding: 10px;  
    text-align: left;           

}


.Profil {
    display: flex;
    align-items: center;
    background-color: rgba(223, 233, 211, 0.96);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Profil img {
  width: 125px;
  height: 135px;
  border-radius: 50%; 
  margin-right: 20px;
}

.Profil p {
  font-size: 1em;
  color: #292525;
  margin: 5px 0;
}

.Profil a{
  color: #333;
  text-decoration: underline;
  font-weight: bold;
  
    
  }


