
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff;
   padding-top: 20px; 
   
}


.ikon-på-navbar {
    width: 100%;
    background-color: #ffd400; 
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}


.logo-og-studieoversikt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px; 
}


.logo img {
    height: 30px; 
    margin-left: 25px; 
}


.studieoversikt {
    margin-top: 20px; 
}

.studieoversikt a {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black; 
}

.studieoversikt a:hover {
    text-decoration: underline; 
    color: black; 

}


/* Ikoner */
.ikon-på-navbar a i {
    font-size: 1em;
    color: black; 
}

.ikon-på-navbar a:hover i {
    color: black; 
}


.ikon-på-navbar a:hover {
    background-color: transparent; 
    color: black; 
}


.ikon-på-navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}



.header-title {
    padding-left: 100px; 
    text-align: left; 
}




h1 {
    font-size: 2em; 
    font-weight: bold; 
    margin: 0;
    line-height: 1.2;
    margin-top: 20px;
    
}



#Bachelorprogram {
    
    color: black;
    margin-top: 5px;
    line-height: 1.5em;
}

#Beskrivelse {
    color: black;
    margin-top: 5px;
    line-height: 1.5em;
   

}

.Hovedbilde2{
    width: 100%; 
    height:auto; 
    max-width: 1550px; 
    
}


.KortInfo {
    width: 100%;              
    border-collapse: collapse;  
    margin: 90px ;            
    font-family: Arial, sans-serif; 
    border: 2px;
  padding: 10px;
  border-radius: 25px;
  background-color: #f3ecad;
 
}

.KortInfo i{
    color:rgba(17, 77, 12, 0.783)
}
.KortInfo th,.KortInfo td {
    padding: 10px;  
    text-align: left;           

}
 

