
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding-top: 20px;  
}
.text{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;

}

p , h3{
    margin-left: none;
    margin-right: none;
    
}

h1 {
    font-size: 2em; 
    font-weight: bold; 
    margin: 0;
    line-height: 1.2;
    margin-top: 20px;
    
}

.ikon-på-navbar {
    width: 100%;
    background-color: #ffd400; 
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}


.logo-og-studieoversikt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px; 
}


.logo img {
    height: 30px; 
    margin-left: 25px; 
}


.studieoversikt {
    margin-top: 20px; 
}

.studieoversikt a {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black; 
}

.studieoversikt a:hover {
    text-decoration: underline; 
    color: black; 

}


/* Ikoner */
.ikon-på-navbar a i {
    font-size: 1em;
    color: black; 
}

.ikon-på-navbar a:hover i {
    color: black; 
}


.ikon-på-navbar a:hover {
    background-color: transparent; 
    color: black; 
}


.ikon-på-navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.body {
    max-width: 1150px;
    margin: auto;
    /*padding: 10px;*/
    align-items: center;

}



.header-title {
    padding-left: 100px; 
    text-align: left; 
    
}








#Bachelorprogram {
    
    color: black;
    margin-top: 5px;
    line-height: 1.5em;
}

#Beskrivelse {
    color: black;
    margin-top: 5px;
    line-height: 1.5em;
   

}

.Hovedbilde2{
    max-width: 960px;
    height:auto; 
    width: auto;
    
    
}


.KortInfo {
    width: 100%;               
    border-collapse: collapse;  
    margin: 90px ;             
    font-family: Arial, sans-serif; 
    border: 2px;
  padding: 10px;
  border-radius: 25px;
  background-color: #f3ecad69;
 
}

.KortInfo i{
    color:rgba(17, 77, 12, 0.783)
}
.KortInfo th,.KortInfo td {
    padding: 10px;  
    text-align: left;           

}

.beskrivelse{
    background-color: #f3ecad69;
    max-width: 960px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 20px;
    
}
.box2{
    display: flex;
    max-width: 960px;
    max-height: 120px;
    width: auto;
    height: auto;
    margin: auto;
    padding: 5px;
    align-items: center;
    flex-wrap: nowrap wrap wrap-reverse;
    
}



.besk{
    display: flex;
    padding: 20px;
    align-items: center;
    margin: auto;
    max-width: 240px;
    width: auto;
    text-align: left;
}

.stikkers{
    height: 40px;
    width: 40px;
    display: flex;
}
.undertext{
    border-bottom: 1px solid rgba(0, 0, 0, 0.18); 
    width: 160px;
    text-align: left;
    
}


.box{
    max-width: 960px;
    margin: auto;
    padding: 10px;
    background-color: rgba(153, 205, 50, 0.138);
    border-radius: 10px;
    
}

.box1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.box >.Setup {
    flex: 0 1 calc (33.333% - 20px);
}
@media screen and (max-width: 900px) {
    .box1 > .Setup {
        flex: 0 1 calc(50% - 20px);  
    }
}
@media screen and (max-width: 600px) {
    .box1 > .Setup {
        flex: 0 1 100%;  
    }
}


.box1 > .Setup > a.id {
    text-decoration: none;
}





.Setup{
    display:flex;
    justify-content: left;
    align-items: center;
    width: 270px;
    height: 70px;
    border-radius: 10px;
    text-align: left;
    margin: 5px ;
}
.Setup:hover{
    background-color: rgba(153, 205, 50, 0.138);
}
.id{
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
.popup{
    position: fixed;
    height: 100%;
    width:100%;
    z-index: 1000;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.562) ;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup:target .cont{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.25);
    max-width: 60vw;
    min-width: 60vw;
    max-height: 80vh;
    min-width: none;
    width: auto;
    height: auto;
    box-shadow: 0 2rem 4rem regba(0 ,0 ,0 , 0.2);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y:scroll !important;
    padding: 30px;
}
.close, .close:link, .close:visited{
    color: #ccc;
    text-decoration: none;
    position:absolute ;
    top:0;
    right:10px;
    font-size: 2rem;
    display: inline-block;
    line-height: 1;
    transition: all 0 0.3s;
}
.close:hover{
    color: rgba(153, 205, 50, 0.682);
}





caption{
    margin: 1px 0;
    text-align:right;
    padding: 8px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.739);
}
table, td, th{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.015);
    border: 1px solid rgba(0, 0, 0, 0.149);
    padding: 8px;
    text-align: left;
} 
.color1{
    background-color: rgba(153, 205, 50, 0.138);
}
.color2{
    background-color: rgba(153, 205, 50, 0.255);

}
.color3{
    background-color: rgba(245, 245, 220, 0.388);
}
.color4{
    background-color: rgba(106, 142, 35, 0.296);
}
.color5{
    background-color: rgba(106, 142, 35, 0.146);
}
.mindre{
    width: 75px;
}


a{
    text-decoration: underline 2px;
    text-decoration-color: gold;
    color: black;
}
a:hover{
    text-decoration: underline 2px;
    text-decoration-color: black;
}


/*     */

